@model UserSignupLogin.ViewModel.StudentViewModel


@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Signup")
</p>

<p>
    @using (Html.BeginForm())
    {
        <b>Search Student Table > </b>
        <input type="text" name="searchUser" placeholder="Enter UserName Detail" />
        <b>Search Student Table > </b>
        <input type="text" name="searchStudent" placeholder="Enter Student Detail" />
        <b>Search Subject Table > </b>
        <input type="text" name="searchSubject" placeholder="Enter Subject Detail" />
        <input type="submit" name="submit" value="Search" />
   
     }
</p>

<div class="tab-content">
    <div class="tab-pane container active p-0" id="home">
        <h5 class="text-uppercase p-2 text-center">List of Username And Password</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
                <tr>
                    @*<th>@Html.DisplayNameFor(m => Model.TBLUserInfoes.FirstOrDefault().UserUs) </th>*@
                    <th>@Html.ActionLink("UserName", "Index", new { sortUser = "User" })</th>
                    <th>@Html.ActionLink("Password", "Index", new { sortPassword = "Password" })</th>
                    @*<th>@Html.DisplayNameFor(m => Model.TBLUserInfoes.FirstOrDefault().PasswordUs)</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var id in Model.TBLUserInfoes)
                {
                    <tr>
                        <td>@id.UserUs</td>
                        <td>@id.PasswordUs</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", routeValues: new { idUs = id.IdUs }, htmlAttributes: new { @class = "btn btn-default btn-info" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { idUs = id.IdUs }, htmlAttributes: new { @class = "btn btn-danger btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @*<p>
        @using (Html.BeginForm())
        {
            <b>Search StudentID > </b>
            <input type="text" name="searchStudentID" placeholder="Enter Student ID" />
            <b>Search StudentName > </b>
            <input type="text" name="searchStudent" placeholder="Enter Student Name" />
            <b>Search Major > </b>
            <input type="text" name="searchStudentMajor" placeholder="Enter Student Major" /><br>
            <b>Search Year > </b>
            <input type="text" name="searchStudentYear" placeholder="Enter Student Year" />
            <input type="submit" name="submit" value="Search" />

        }
    </p>*@

    </p>
    <div class="tab-pane container active p-0" id="home">
        <h5 class="text-uppercase p-2 text-center">List of Student</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
                <tr>
                    <th>@Html.DisplayNameFor(m => Model.StudentDetails.FirstOrDefault().StudentID)</th>
                    <th>@Html.DisplayNameFor(m => Model.StudentDetails.FirstOrDefault().StudentName)</th>
                    <th>@Html.DisplayNameFor(m => Model.StudentDetails.FirstOrDefault().Major)</th>
                    <th>@Html.DisplayNameFor(m => Model.StudentDetails.FirstOrDefault().Year)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.StudentDetails)
                {
                    <tr>
                        <td>@student.StudentID</td>
                        <td>@student.StudentName</td>
                        <td>@student.Major</td>
                        <td>@student.Year</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", routeValues: new { idUs = student.StudentID }, htmlAttributes: new { @class = "btn btn-default btn-info" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { idUs = student.StudentID }, htmlAttributes: new { @class = "btn btn-danger btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

   
            <div class="tab-pane container active p-0" id="home">
                <h5 class="text-uppercase p-2 text-center">List of Subject</h5>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-white">
                        <tr>
                            <th>@Html.DisplayNameFor(m => Model.SubjectDetails.FirstOrDefault().SubjectID)</th>
                            <th>@Html.DisplayNameFor(m => Model.SubjectDetails.FirstOrDefault().SubjectName)</th>
                            <th>@Html.DisplayNameFor(m => Model.SubjectDetails.FirstOrDefault().TeacherName)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in Model.SubjectDetails)
                        {
                            <tr>
                                <td>@subject.SubjectID</td>
                                <td>@subject.SubjectName</td>
                                <td>@subject.TeacherName</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", routeValues: new { idUs = subject.SubjectID }, htmlAttributes: new { @class = "btn btn-default btn-info" })
                                    @Html.ActionLink("Delete", "Delete", routeValues: new { idUs = subject.SubjectID }, htmlAttributes: new { @class = "btn btn-danger btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>

            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")

                }
                <script src="~/Scripts/bootstrap.js"></script>*@
            @*<!DOCTYPE html>
                <html>
                <head>
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>@ViewBag.Title - My ASP.NET Application</title>
                    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
                    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
                    <script src="~/Scripts/modernizr-2.6.2.js"></script>
                </head>
                <body>
                    <div class="container body-content">
                        @RenderBody()
                    </div>
                    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                    <script src="~/Scripts/bootstrap.min.js"></script>
                    <script src="~/Scripts/popper.min.js"></script>
                </body>
                </html>*@

